.App {
    text-align: center;
  }
  
  .starship-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .starship-card {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
  }
  
  .starship-card h2 {
    font-size: 18px;
    font-weight: bold;
  }